@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

/* removing default styling */
body, p, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
}

/* header flex for moving the items to the opposite sides */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 16px 25%;
    /* flex: 0 1 0px; */
}

/* flex list, so that items are sorted horizontally with a gap */
ul {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    font-weight: normal;
}

.hero-text .hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


a, .hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 16px;
}

/* flex container for the text + image.
    no need for flex container for .hero-text, 
    since it's anyway sorted like in normal flow */
.hero {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 100px 25%;
}

/*  sizing for a 16:9 image, flex container for text inside
    image stays stable, while flexing text to the side */
.hero-img {
    height: 280px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb77;
    color: #E5E7EB;
    flex: 0 0 500px;
}

/* flexing text, while image stays stable */
.hero-text {
    flex: 1 1 400px;
}

/* button styling */
button.full {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

button.empty {
    background-color: transparent;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 30px;
    border: 1px solid white;
    cursor: pointer;
    text-decoration: none;
    align-self: center;
}

button:hover {
    background-color: hsl(217, 60%, 49%);
}

/* Flex container for the whole info part, centering the elements */
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px 30% 100px;
}

/* Styling the info header + giving it full width, 
so that other elements wrap onto the next row */
.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    flex-basis: 100%;
    text-align: center;
    padding-top: 50px;
}

/* styling so that size is 100x100px, flex: 0 so that it doesn't compress it */
.info-img {
    height: 120px;
    width: 120px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    flex: 0 0 120px;
}

/* flex: 1 with size so that text can shrink, also aligning by center */
.info {
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.info-text {
    text-align: center;
    font-weight: 300;
}

/* Flex container for the quote, centered with some padding- */
.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 30%;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 8px;
}

/* Align-self: flex-end so that the quote author appears on the left side */
.quote-author {
    color: #1F2937;
    font-weight: 700;
    font-size: 18px;
    align-self: flex-end;
}

/* Flex container to space evenly text and the button, with color and margin */
.action-container {
    margin: 100px auto;
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 50%;
    padding: 48px 0;
    color: #F9FAF8;
}

.action-container .action-big {
    font-weight: 700;
    font-size: 18px;
}

/* Simple flex footer to center the text */
footer {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}