@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 16px 26%;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
    font-weight: normal;
}

.hero-text .hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

a, .hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 100px 0;
}

p {
    margin: 0;
    padding-bottom: 16px;
}

.hero-img {
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb77;
    color: #E5E7EB;
}

.hero-text {
    width: 20%;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: hsl(217, 60%, 49%);
}