@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

/* removing default styling */
body, p, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* header flex for moving the items to the opposite sides */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 16px 26%;
}

/* flex list, so that items are sorted horizontally with a gap */
ul {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    font-weight: normal;
}

.hero-text .hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


a, .hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 16px;
}

/* flex container for the text + image.
    no need for flex container for .hero-text, 
    since it's anyway sorted like in normal flow */
.hero {
    background-color: #1F2937;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 100px 0;
}

/* sizing for a 16:9 image, flex container for text inside  */
.hero-img {
    height: 280px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb77;
    color: #E5E7EB;
}

.hero-text {
    width: 20%;
}

/* general button styling */
button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: hsl(217, 60%, 49%);
}